@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}

:root {
    --background-clean: #F9FBE7;
    --company-color: #FEA1A1;
}

/* HEADER */

.cabecalho {
    width: 100%;
    background-image: url(/img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--background-clean);
}
