@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}

:root {
    --background-clean: #FFE6C7;
    --background-color: #FFA559;
    --font-color: #454545;
    --secundary-font-color: #ff6200;
    --company-color: #F7E1AE;
}

/* HEADER */

.cabecalho {
    width: 100%;
    background-image: url(/img/header.png);
    background-position: 3%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--background-clean);
    height: 100px;
}

.menu .ul-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul-menu li {
    list-style: none;
    color: var(--font-color);
}

.bi-file-person,
.bi-geo-alt{
    font-size: 50px;
    color: var(--font-color);
}

.img-localizacao {
    display: flex;
    padding-left: 5rem;
    align-items: center;
    margin-right: 0.8rem;
}

.nome-localizacao {
    font-size: 30px;
    padding: 0 6rem 0 0;
}

.logo {
    width: 50%;
    cursor: pointer;
}

/* TITULO */

.titulo {
    padding: 2rem;
    background-color: var(--background-color);
    text-align: center;
}

.nome-empresa {
    font-weight: 700;
    font-size: 7rem;
    margin-bottom: 0.5rem;
    color: var(--font-color);
    text-transform: uppercase;
}

.mensagem {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--secundary-font-color);
    text-decoration: solid;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.473);
}

/* INPUT */

.input {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    align-items: center;
}

i.bi-search {
    position: absolute;
    color: var(--font-color);
    padding: 0.2rem 0 0 3rem;
    font-size: 40px;
}

.input-text {
    width: 90%;
    margin: auto;
    font-size: 25px;
    padding: 1rem 0 1rem 0;
    padding-left: 5rem;
    border: 2mm ridge var(--secundary-font-color);
    border-radius: 30px;
    text-align: center;
}

input:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    color: var(--font-color);
}

input[type=text]{
    color: var(--font-color);
}

/* CATEGORIAS */

.categorias {
    display: flex;
    justify-content: space-around;
}

.categoria-ul {
    display: flex;
    justify-content: center;
}

.categoria-a {
    margin: 3rem 5rem;
    text-decoration: none;
    justify-content: center;
}

.categoria-li {
    margin: auto;
    list-style: none;
    border: 2px solid var(--secundary-font-color);
    border-radius: 15px;
    width: 80%;
    padding: 1.6rem;
    margin: 1rem;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    transition: transform 0.5s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.categoria-li:hover {
    background-color: var(--font-color);
    border: 5px solid var(--secundary-font-color);
}

/* PRODUTOS */

.cards-produtos {
    display: flex;
}

.card-produto {
    display: block;
    margin: 2rem;
    box-shadow: 0 5px 15px black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 25%;
}

.card-produto:hover {
    box-shadow: inset 50px 0 0 0;
    color: white;
}

.card-produto img {
    display: block;
    width: 60%;
    margin: auto;
    justify-content: center;
    border-radius: 15px;
    margin-top: 2rem;
}

.nome-produto {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    color: var(--secundary-font-color);
    margin: 1rem;
}

/* VER MAIS */

.ver-mais {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    margin: 0 2rem 2rem 0;
}

.ver-mais a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--font-color);
    margin: 0.8rem 2rem;
}

/* AVALIAçÃO */

.avaliacao {
    text-align: center;
    border: 5px outset var(--background-color);
    background-color: var(--company-color);
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
    width: 50%;
    margin: auto;
    font: bold 1rem;
}

.titulo-avaliacao {
    font-size: 40px;
    color: var(--font-color);
}

.bi-hand-thumbs-up,
.bi-hand-thumbs-down {
    font-size: 40px;
    color: var(--secundary-font-color);
    text-shadow: 2px 2px black;
    padding: 0.5rem;
    cursor: pointer;
}

.frase-avaliacao {
    font-size: 23px;
    color: var(--font-color);
    padding: 0.5rem;
}

/* FOOTER */

.footer {
    background-color: var(--background-clean);
    margin-top: 4rem;
}

.footer-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 4rem 0 2rem 0;
}

.footer-item {
    list-style: none;
}

.footer-card a {
    text-decoration: none;
    text-align: center;
    color: var(--font-color);
}

.footer-item {
    margin: 0.5rem;
}

.footer-item-nome {
    font-weight: 700;
}

i.bi-house-fill,
i.bi-emoji-smile-fill,
i.bi-upc-scan,
i.bi-cart,
i.bi-stickies {
    font-size: 60px;
    color: var(--secundary-font-color);
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }

    header {
        display: flex;
    }

    i.bi-geo-alt,
    .nome-localizacao,
    i.bi-card-image {
        display: none;
    }
}