@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}

:root {
    --background-clean: #FFF8D6;
    --font-color: #617A55;
    --company-color: #F7E1AE;
}

/* HEADER */

.cabecalho {
    width: 100%;
    background-image: url(/img/header.png);
    background-position: 3%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--background-clean);
    height: 100px;
}

.menu .ul-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul-menu li {
    list-style: none;
    color: var(--font-color);
}

.bi-file-person,
.bi-geo-alt{
    font-size: 50px;
    color: var(--font-color);
}

.img-localizacao {
    display: flex;
    padding-left: 5rem;
    align-items: center;
    margin-right: 0.8rem;
}

.nome-localizacao {
    font-size: 30px;
    padding: 0 6rem 0 0;
}

.logo {
    width: 50%;
    cursor: pointer;
}

/* FOOTER */

.footer {
    background-color: var(--background-clean);
    margin-top: 4rem;
}

.footer-card {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.footer-item {
    list-style: none;
}

.footer-card a {
    text-decoration: none;
    text-align: center;
    color: var(--font-color);
}

.footer-item {
    margin: 0.5rem;
}

.footer-item-nome {
    font-weight: 700;
}

i.bi-house-fill,
i.bi-emoji-smile-fill,
i.bi-upc-scan,
i.bi-cart,
i.bi-stickies {
    font-size: 60px;
    color: var(--font-color);
}